.personality-casual {
  .squiggle {
    filter: url("#squiggle");
    position: relative;
    transform: translateZ(0);
  }
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;

  .embed-responsive-item,
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
  }
}

.aspect-ratio-none {
  padding-bottom: 0;
}

.aspect-ratio-square {
  padding-bottom: 100%;
}

.aspect-ratio-16\/9 {
  padding-bottom: 56.25%;
}

.aspect-ratio-4\/3 {
  padding-bottom: 75%;
}

.aspect-ratio-21\/9 {
  padding-bottom: 42.86%;
}

[x-cloak] {
  display: none;
}


.css-button-retro--yellow {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: 1px solid #000;
  color: #000;
  background: transparent;
}
.css-button-retro--yellow:hover:after {
  top: 0;
  left: 0;
}
.css-button-retro--yellow:after {
  content: "";
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 5px;
  left: 5px;
  transition: 0.2s;
  background-color: #ffe566;
}
