---
export interface Props {
heading3: string;
description2: string;
}
const { heading3, description2 } = Astro.props;
---

<header class="mx-auto max-w-xl text-center content">
  <h2 class="mb-4" data-test="header-heading3">Ecco tutti gli altri miei post</h2>
</header>