---
export interface Props {
title: string;
description: string;
}
const { title, description } = Astro.props;
---

<header class="mx-auto  text-left content flex flex-col md:flex-row h-screen align-middle bg-hero-pattern bg-cover bg-black bg-opacity-60">
  <div class="mx-auto max-w-xl align-middle">
    <h2 class="mb-4 mt-6 py-3" data-test="header-title">Ciao, sono Daniele D'Amico</h2>
    <p data-test="header-description" class="mb-4">Questo è il mio sito web e qui scrivo quello che imparo strada facendo</p>
    <a href="/featured"><button type="button" class="bg-black text-yellow shadow-lg shadow-yellow/25 rounded-none border-yellow border-4 css-button-retro--yellow .css-button-retro--yellow:hover:after .css-button-retro--yellow:after" style="font-weight:700;">Comincia qui</button></a>
  </div>
  <div class="mx-auto max-w-xl align-middle pt-4">  
    <img class="squiggle rounded-xl mx-auto" style="min-width: 80%;" loading="lazy" src="/images/ionobg.png" alt={title} src= alt={post.title} width="360" height="192">
  </div>
</header>