---
export interface Props {
heading2: string;
description2: string;
}
const { heading2, description2 } = Astro.props;
---

<header class="mx-auto max-w-xl text-center content text-black">
  <h2 class="mb-4 text-black" data-test="header-heading2">Non sai da dove cominciare?</h2>
  <p data-test="header-description2">Ecco alcuni consigli</p>
</header>